<md-content class="viewContent" flex layout-padding>
    <h1>Manage Projects</h1>
    <table>
        <thead>
            <th>Project</th>
            <th>Total Projected Hours</th>
            <th>Actual Total Hours</th>
            <th>Time Variance</th>
            <th></th>
            <tbody ng-repeat="project in vm.projects.list">
                <tr>
                    <td>{{project.project_id}}</td>
                    <td>{{project.projected_hours}}</td>
                    <td>{{project.actual_time}}</td>
                    <td>{{project.time_variance}}</td>
                    <td><md-button class="md-warn md-secondary" ng-click="vm.deleteProject(project.project_id, $event)">Delete Project</md-button></td>
                </tr>
            </tbody>
        </thead>
    </table>
</md-content>