<div ng-controller="ManageController as mc">
    <h2>Add Project</h2>
    <form ng-submit="mc.projectManager()">
        <input type="text" ng-model="mc.addNewProject">
        <input type="number" ng-model="mc.addProjectAllotedTime">
        <input type="submit"/>
    </form>
    <div>
        <h2>Projects</h2>
        <table>
            <thead>
                <td>Project</td>
                <td>Total Projected Hours</td>
                <td>Actual Total Hours</td>
                <td>Time Variance</td>
                <td>Actions</td>
            </thead>
            <tr ng-repeat="project in mc.projects">
                <td>{{project.project_id}}</td>
                <td>{{project.projected_hours}}</td>
                <td>{{project.actual_time}}</td>
                <td>{{project.time_variance}}</td>
                <td><button ng-click="mc.deleteProject(project)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>